dn: {{ base_root }}
dc: {{ partition_id }}
objectclass:domain
objectclass:top

dn: {{ base_users }}
objectclass:top
objectclass:javaContainer

dn: {{ base_roles }}
objectclass:top
objectclass:javaContainer

dn: {{ base_rolegroups }}
objectclass:top
objectclass:javaContainer