dn: ads-interceptorId=authenticationInterceptor,ou=interceptors,ads-directoryServiceId=default,ou=config
changetype: modify
replace: ads-interceptorClassName
ads-interceptorClassName: uk.co.bconline.ndelius.apacheds.interceptor.DeliusAuthenticationInterceptor