log4j.rootCategory={{ log_level }}, R, stdout

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout

log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=${apacheds.log.dir}/apacheds.log

log4j.appender.R.MaxFileSize=100MB
# Keep some backup files
log4j.appender.R.MaxBackupIndex=50

log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=[%d{HH:mm:ss}] %p [%c] - %m%n

log4j.appender.stdout.layout.ConversionPattern=[%d{HH:mm:ss}] %p [%c] - %m%n

# with these we'll not get inundated when switching to DEBUG
log4j.logger.jdbm.recman.BaseRecordManager=WARN
log4j.logger.org.apache.directory.server.OPERATION_LOG=WARN
log4j.logger.org.apache.directory.server.OPERATION_TIME=WARN
log4j.logger.org.apache.directory.api.CODEC_LOG=WARN
log4j.logger.org.apache.directory.server.ACI_LOG=WARN
log4j.logger.org.apache.directory.server.PROVIDER_LOG=WARN
log4j.logger.org.apache.directory.server.CONSUMER_LOG=WARN
log4j.logger.org.apache.directory.CURSOR_LOG=WARN
log4j.logger.org.apache.directory.api=WARN
log4j.logger.org.apache.directory.server=WARN
log4j.logger.net.sf.ehcache=WARN
log4j.logger.org.apache.mina=WARN
log4j.logger.org.apache.directory.api.ldap.model.entry.Value=ERROR
