dn: ads-partitionId={{ partition_id }},ou=partitions,ads-directoryServiceId=default,ou=config
objectclass: top
objectClass: ads-base
objectclass: ads-partition
objectclass: ads-jdbmPartition
ads-partitionSuffix: {{ base_root }}
ads-jdbmpartitionoptimizerenabled: TRUE
ads-partitioncachesize: 10000
ads-partitionsynconwrite: TRUE
ads-partitionid: example
ads-enabled: TRUE

dn: ou=indexes,ads-partitionId={{ partition_id }},ou=partitions,ads-directoryServiceId=default,ou=config
ou: indexes
objectclass: organizationalUnit
objectclass: top

# System indexes (mandatory for apacheds):
{% for item in ['apacheRdn', 'apachePresence', 'apacheOneAlias', 'apacheSubAlias', 'apacheAlias', 'dc', 'objectClass', 'entryCSN', 'administrativeRole'] %}
dn: ads-indexAttributeId=apacheRdn,ou=indexes,ads-partitionId={{ partition_id }},ou=partitions,ads-directoryServiceId=default,ou=config
ads-indexattributeid: apacheRdn
ads-indexHasReverse: TRUE
ads-indexcachesize: 100
objectclass: ads-index
objectclass: ads-jdbmIndex
objectclass: ads-base
objectclass: top
ads-enabled: TRUE

{% endfor %}

# Application indexes (specific for delius):
{% for item in ['cn', 'uid', 'sn', 'givenName', 'aliasedObjectName'] %}
dn: ads-indexAttributeId={{ item }},ou=indexes,ads-partitionId={{ partition_id }},ou=partitions,ads-directoryServiceId=default,ou=config
ads-indexattributeid: {{ item }}
ads-indexHasReverse: FALSE
ads-indexcachesize: 100000
objectclass: ads-index
objectclass: ads-jdbmIndex
objectclass: ads-base
objectclass: top
ads-enabled: TRUE

{% endfor %}