dn:cn=test.user,{{ base_users }}
cn:test.user
uid:test.user
mail:test.user
description:This is a test user
givenname:Test
sn:User
userhomearea:N01
userSector:public
objectclass:NDUser
objectclass:inetOrgPerson
objectclass:organizationalPerson
objectclass:person
objectclass:top

dn:cn=UserPreferences,cn=test.user,{{ base_users }}
locale:en
objectclass:UserPreferences
objectclass:top
cn:UserPreferences

dn:cn=UPBT001,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UPBT001,{{ base_roles }}
cn: UPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0001,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0001,{{ base_roles }}
cn: UABT0001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0002,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0002,{{ base_roles }}
cn: UABT0002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0003,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0003,{{ base_roles }}
cn: UABT0003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0005,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0005,{{ base_roles }}
cn: UABT0005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0050,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0050,{{ base_roles }}
cn: UABT0050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0051,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0051,{{ base_roles }}
cn: UABT0051
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0052,cn=test.user,{{ base_users }}
aliasedobjectname:cn=UABT0052,{{ base_roles }}
cn: UABT0052
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top
