{% for item in range(1, 100) %}
dn:cn={{ 'NDelius%02d' % item }},{{ base_users }}
cn:{{ 'NDelius%02d' % item }}
uid:{{ 'NDelius%02d' % item }}
mail:{{ 'NDelius%02d' % item }}
userpassword: {SSHA}ODU/1Shs0GsfCe+IdCBn0Avtsk7XeDNZz8Tq0A==
description:This is a test user
givenname:{{ 'NDelius%02d' % item }}
sn:{{ 'NDelius%02d' % item }}
userhomearea:N01
userSector:public
objectclass:NDUser
objectclass:inetOrgPerson
objectclass:organizationalPerson
objectclass:person
objectclass:top

dn:cn=UserPreferences,cn={{ 'NDelius%02d' % item }},{{ base_users }}
locale:en
objectclass:UserPreferences
objectclass:top
cn:UserPreferences

dn:cn=UPBT001,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UPBT001,{{ base_roles }}
cn: UPBT001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0001,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0001,{{ base_roles }}
cn: UABT0001
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0002,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0002,{{ base_roles }}
cn: UABT0002
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0003,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0003,{{ base_roles }}
cn: UABT0003
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0005,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0005,{{ base_roles }}
cn: UABT0005
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0050,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0050,{{ base_roles }}
cn: UABT0050
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0051,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0051,{{ base_roles }}
cn: UABT0051
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

dn:cn=UABT0052,cn={{ 'NDelius%02d' % item }},{{ base_users }}
aliasedobjectname:cn=UABT0052,{{ base_roles }}
cn: UABT0052
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top

{% endfor %}